@media (max-width: 768px) {
    nav {
        margin-top: -60px;
    }
    
    footer {
        margin-bottom: -40px;
        font-size: 10px;
    }
    
    .response {
        font-size: 12px;
    }
    
    .header_text {
        font-size: 15px;
    }
    
    .header_button {
        font-size: 20px;
        width: 100px;
        height: 40px;
        margin-top: 11px;
        margin-left: 2px;
    }
    
    .hidden_button {
        width: 0px;
    }
    
    .content-subtitle {
        font-size: 17px;
        width: 80%;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    
    .content-subtitle-text {
        margin-left: 5px;
    }
    
    .right-content .artist-button {
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%);
    }
    
    .left-content .artist{
        flex-direction: row;
        margin-left: 0px;
    }
    
    .content-message {
        text-align: center;
        line-height: 50px; 
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 4px;
    }
    
    main.content {
        flex-direction: column;
    }

    .add_band_button-container {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -80px;
    }

    .add_band_button-container :first-child {
        width: 150px;
        font-size: 15px;
    }
    
    .details-photo-and-info {
        flex-direction: column;
    }
    
    .artist_details {
        width: 336px;
    }

    .formation_name_details {
        display: block;
        width: 336px;
        height: 50px;
        line-height: 50px;
    }
    
    .formation_name {
        width: 336px;
        height: 45px;
        font-size: 20px;
        line-height: 45px;
    }

    .formation_image {
        width: 240px;
        height: 135px;
    }
    
    .container_formation .button {
        height: 45px;
        width: 96px;
    }

    .formation_image_details {
        width: 336px;
        height: 189px;
    }
    
    .back_button {
        width: 336px;
    }
    
    .discography {
        flex-direction: column;
    }
    
    .album_container {
        width: 317px;
    }
    
    .single_container {
        width: 317px;
        margin-bottom: 0px;
    }
}