@media (max-width: 768px) {
    header {
        margin-top: -60px;
    }
    
    footer {
        margin-bottom: -40px;
        font-size: 10px;
    }
    
    .response {
        font-size: 12px;
    }
    
    .header_text {
        font-size: 15px;
    }
    
    .header_button {
        font-size: 20px;
        width: 100px;
        height: 40px;
        margin-top: 11px;
        margin-left: 2px;
    }
    
    .hidden_button {
        width: 0px;
    }
    
    .content-subtitle {
        font-size: 17px;
        width: 80%;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    
    .content-subtitle-text {
        margin-left: 5px;
    }
    
    .right-content .artist-button {
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%);
    }
    
    .left-content .artist{
        flex-direction: row;
        margin-left: 0px;
    }
    
    .content-message {
        text-align: center;
        line-height: 50px; 
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 4px;
    }
    
    .add_band_button-container {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -80px;
    }

    .add_band_button-container :first-child {
        width: 150px;
        font-size: 17px;
    }
    
    .artist_details {
        width: 700px;
    }

    .formation_name_details {
        display: block;
        width: 700px;
        height: 50px;
        line-height: 50px;
    }

    .formation_image_details {
        width: 368px;
        height: 207px;
    }
    
    .back_button {
        width: 332px;
        margin-top: 10px;
    }
    
    .details-photo-and-info {
        font-size: 17px;
    }

    .details_text {
        color: whitesmoke;
        line-height: 1;
        margin-left: 20px;
    }

    .info_text {
        margin-top: 35px;
    }
    
    .album_name {
        font-size: 25px;
    }
    
    .album {
        font-size: 15px;
    }
    
    .single {
        font-size: 15px;
    }
}